@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
        @apply tracking-wide;
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(200, 221, 245, 1),
        hsla(212, 69%, 87%, 0.8)   
    )!important;
}

.content-div:dark:hover {
    background-image: linear-gradient(
        to right,
        rgba(67, 67, 67 1),
        hsla(0, 0%, 7%, 0.8)   
    )!important;
}